@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    
}

section[id] {
    scroll-margin-top: 120px;
}
body{
    background: white;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    min-width: fit-content;
    
}

header{
    height: 120px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 10px 25px -22px black;
    z-index: 10;
    bottom: 35px;
    background-color: black;
}

.container__header{
    max-width: 100%;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
}

.logo img{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-bottom: 60px;
    margin-left: 25px;
}


.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    margin: 0px;
}

.menu{
    height: 80px;
}
.menu nav{
    height: 100%;
}

.menu nav ul{
    display: flex;
    z-index: 10;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav ul li a{
    font-size: 17px;
    font-family: Open Sans, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    transition: opacity 300ms;
    position: relative;
}


.menu nav ul li a:after{
    opacity: 0.4;
    content:"";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #cac5ce;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.menu nav ul li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

h1{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 75px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(50,50,50,0.57);
    
    
}

h3,h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15px;
    font-size: 25px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#banner{
   max-width: fit-content;
   max-height: 100px;
}
#inicio{

    margin-top: 30px;
    margin-left: 25px;
}

.inicio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
   }
   
#service{
    margin-top: 30px;
    margin-left: 25px;
}

/* Esto es el codigo que copie de yt*/

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    top: auto;
}

.container .card{
    width: 330px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.contacto{

    margin-top: 30px;
    margin-left: 25px;
}


/*.social{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}*/

.social{
    text-align: center;
    padding-bottom: 25px;
    color: #000000;
}

.social a{
    font-size: 50px;
    color: inherit;
    border: 1px solis #ccc;
    width: 100px;
    height: 100px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.65;
}

.social a:hover{
    opacity: 0.9;

}

/*Principal*/



/*Footer*/